@charset "UTF-8";

body {
    background-color:#DEF2D2;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #497331;
}
h1#teste{
    color: #274813;
    text-align: center;
    background-color: #759D5E;
}
h2 {
    color: rgb(73 109, 71);
}
.basico{
    text-decoration: underline;
}